*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container
{
    width:100vw;
    height:100vh;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg,#8BC6EC 0%,#9773b3 100%);
    display:flex;
    justify-content: center;
    align-items: center;
}
.card
{
    width:400px;
    height:600px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
}
.card img{
    width:100%;
    height:30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text-box
{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    /* padding:20px; */
    width:75%;
    text-align: center;
}
#amount-box
{
    width:80%;
    height:10%;
    background-color: #8BC6EC;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}
.left-box
{
    /* width:fit-content; */
    height:100%;
    display:flex;
    gap:15px;
    align-items: center;
}
.image-box img
{
    height:3.0rem;
    width:3.5rem;
}
#payment-button
{
    width:80%;
    height:9%;
    border-radius: 10px;
    background-color: rgb(22,22,79);
    color:white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}
#payment-button:hover{
    background-color: rgb(191, 191, 228);
    color:black;
    transition:all 0.3s ease-in ;
}
.cancel-box a{
    text-decoration: none;
    color:rgb(46,43,43);
    font-weight: bold;
    font-size: large;
}
.cancel-box a:hover{
    color:blue;
}

@media(max-width:400px)
{
    #amount-box
    {
        flex-direction: column;
        height:15%;
    }
}
@media(max-width:225px)
{
    .card{
        height:650px;
    }
}
@media(max-width:420px)
{
    .card{
        height:550px;
        width:300px;
    }
}
